/* .dataTables_processing {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.dataTables_processing>* {
    flex-grow: 1;
} */

.dataTables_paginate>.pagination {
    margin-bottom: 0;
}

div.dataTables_wrapper div.dataTables_info {
    color: #fff;
    background-color: #868e96;
    display: inline-block;
    padding: 0.35em 0.4em;
    font-size: 85%;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    vertical-align: baseline;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}